@charset "utf-8";

/*共通のスタイル*/
/*border-spacing適用したい場合はborder-collapse:separate;に設定する*/


body{
    font-family: 'Kosugi Maru', sans-serif;
    color: #333;
}

a{
    text-decoration: none;
    color: #333;
}



section#top{
    display: flex;
    width: 100%;
    height: 100vh;
}

section#top header{
    min-width: 200px;
    padding: 0 15px 0 0;
    background: url(../images/top-back.png);
    background-size: cover;
}
section#top header div#header-box{
    height: 100%;
    background-color: #fff;
    padding: 10px;
}


/* ロゴ ****************************************************/

section#top header div#header-box h1#logo{
    padding: 10px 0;
    font-family: 'Luckiest Guy', cursive;
    color: #000;
    font-size: 4rem;
    text-shadow: 0px 2px 0px rgb(116, 116, 116);
}
section#top header div#header-box h1#logo span#logo0{
    font-size: 2rem;
    text-shadow: none;
}
section#top header div#header-box h1#logo span#logo1{
    color: #FFB4D2;
}
section#top header div#header-box h1#logo span#logo2{
    color: #78D2DB;
}
section#top header div#header-box h1#logo span#logo3{
    color: #A5CB2A;
}
section#top header div#header-box h1#logo span#logo4{
    color: #E4C900;
}
section#top header div#header-box h1#logo span#logo5{
    color: #9A85BE;
}


/* ページ内リンクボタン ***********************************************/

section#top header div#header-box div.link-box{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
a.link{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    color: #fff;
}

section#top header div#header-box div#guideMap-link-box{}
section#top header div#header-box div#guideMap-link-box div#guideMap-btn{}
section#top header div#header-box div#guideMap-link-box div.fluid1-1{
  width:130px;/*横幅*/
  height: 130px;/*縦幅*/
  background:#CEE191;/*背景色*/
  animation: fluidrotate1-1 8s ease 0s infinite;/*アニメーションの設定*/
}
@keyframes fluidrotate1-1{
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}
section#top header div#header-box div#guideMap-link-box div#guideMap-btn a#guideMap-link{}
section#top header div#header-box div#guideMap-link-box div#guideMap-btn a.fluid1-2{
  width: 130px;/*横幅*/
  height: 130px;/*縦幅*/
  background:#A5CB2A;/*背景色*/
  animation: fluidrotate1-2 10s ease 0s infinite;/*アニメーションの設定*/
  transition: 0.3s;
}
section#top header div#header-box div#guideMap-link-box div#guideMap-btn a.fluid1-2:hover{
    /* transition: 0.2s; */
    background: #b8dd3c;
}
@keyframes fluidrotate1-2{  
    0%, 100% {
        border-radius: 45% 55% 68% 32%/72% 53% 47% 28%;
    }
    14% {
        border-radius: 28% 72% 55% 45%/55% 45% 55% 45%;
    }
    28% {
        border-radius: 46% 54% 55% 45%/41% 57% 43% 59%;
    }
    42% {
        border-radius: 64% 36% 72% 28%/31% 49% 51% 69%;
    }
    56% {
        border-radius: 54% 46% 81% 19%/44% 65% 35% 56%;
    }
    70% {
        border-radius: 40% 60% 52% 48%/55% 47% 53% 45%;
    }
    84% {
        border-radius: 26% 74% 38% 62%/44% 56% 44% 56%;
    }
}

section#top header div#header-box div#about-link-box{}
section#top header div#header-box div#about-link-box div#about-btn{}
section#top header div#header-box div#about-link-box div.fluid2-1{
  width:130px;/*横幅*/
  height: 130px;/*縦幅*/
  background:#FFD7E7;/*背景色*/
  animation: fluidrotate2-1 8s ease 0s infinite;/*アニメーションの設定*/
}
@keyframes fluidrotate2-1{
    0%, 100% {
        border-radius: 26% 74% 38% 62%/44% 56% 44% 56%;
    }
    14% {
        border-radius: 40% 60% 52% 48%/55% 47% 53% 45%;
    }
    28% {
        border-radius: 54% 46% 81% 19%/44% 65% 35% 56%;
    }
    42% {
        border-radius: 64% 36% 72% 28%/31% 49% 51% 69%;
    }
    56% {
        border-radius: 46% 54% 55% 45%/41% 57% 43% 59%;
    }
    70% {
        border-radius: 28% 72% 55% 45%/55% 45% 55% 45%;
    }
    84% {
        border-radius: 45% 55% 68% 32%/72% 53% 47% 28%;
    }
}
section#top header div#header-box div#about-link-box div#about-btn a#about-link{}
section#top header div#header-box div#about-link-box div#about-btn a.fluid2-2{
  width: 130px;/*横幅*/
  height: 130px;/*縦幅*/
  background:#FFB4D2;/*背景色*/
  animation: fluidrotate2-2 10s ease 0s infinite;/*アニメーションの設定*/
  transition: 0.3s;
}
section#top header div#header-box div#about-link-box div#about-btn a.fluid2-2:hover{
    background: #ff94bf;
}
@keyframes fluidrotate2-2{  
    0%, 100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
}


/* スライドショー **************************************************/

div#slide{
    width: 84%;
    /* flex-basis: 100%; */
}


.slider {
    position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}
/*　背景画像設定　*/

.slider-item01 {
    background:url(../images/slide1.png);
}
.slider-item02 {
    background:url(../images/slide2.png);
}
.slider-item03 {
    background:url(../images/slide3.png);
}
.slider-item04 {
    background:url(../images/slide4.png);
}
.slider-item05 {
    background:url(../images/slide5.png);
}

.slider-item {
    width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
	z-index: 5;
    top: 50%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/

    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
}

/*ドットナビゲーションの設定*/

.slick-dots {
	position: relative;
	z-index: 5;
    text-align:center;
	margin:-50px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}





main{}



main section#guideMap{
    background-color: #A5CB2A;
    padding: 0 0 60px 0;
}
main section#guideMap h2{
    width: 80%;
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 20px;
    margin: auto;
    padding: 40px 0;
}
main section#guideMap h3#map-ex{
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


/* マップ *****************************************/

main section#guideMap div#guideMap-box{
    width: 80%;
    margin: auto;
}

main section#guideMap div#guideMap-box div#map-box{}
main section#guideMap div#guideMap-box div#map-box div#mapBtn-box{
    display: flex;
}
main section#guideMap div#guideMap-box div#map-box div#mapBtn-box h3.mapBtn{
    width: 50%;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 20px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    transition: 0.2s;
}
main section#guideMap div#guideMap-box div#map-box div#mapBtn-box h3#eat-btn{}
.eatOnBtn{
    background-color: #E4C900;
    box-shadow: 0 8px #ab9700;
}
.eatOffBtn{
    background-color: #E4C900;
    transform: translateY(8px);
    box-shadow: none;
}
main section#guideMap div#guideMap-box div#map-box div#mapBtn-box h3#play-btn{}
.playOnBtn{
    background-color: #78D2DB;
    box-shadow: 0 8px #4b8489;
}
.playOffBtn{
    background-color: #78D2DB;
    transform: translateY(8px);
    box-shadow: none;
}
main section#guideMap div#guideMap-box div#map-box div#mapBtn-box h3.mapBtn:hover{
    color: #fff;
    cursor: pointer;
}
main section#guideMap div#guideMap-box div#map-box div#map{
    margin: 8px 0 0 0;
    height: 600px;
}




main section#guideMap div#guideMap-box div#guide-box{
    position: relative;
    height: 600px;
}

main section#guideMap div#guideMap-box div#guide-box div#still{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #F9FFE8;
}
main section#guideMap div#guideMap-box div#guide-box div#still p{
    text-align: center;
    font-size: 2.5rem;
    line-height: 600px;
}
main section#guideMap div#guideMap-box div#guide-box div#still p a{
    display: block;
    color: #bad478;
    transition: 0.2s;
}
main section#guideMap div#guideMap-box div#guide-box div#still p a:hover{
    color: #78903d;
}


main section#guideMap div#guideMap-box div#guide-box div#guide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: #F9FFE8;
}

main section#guideMap div#guideMap-box div#guide-box div#guide table{}
main section#guideMap div#guideMap-box div#guide-box div#guide table tr{}
main section#guideMap div#guideMap-box div#guide-box div#guide table tr td{
    vertical-align: middle;
}
main section#guideMap div#guideMap-box div#guide-box div#guide table tr td div#guide-icon{
    width: 100px;
    height: 100px;
    margin: 0 30px 0 0;
    background: url(../images/eat-icon2.png);
    background-size: cover;
    background-position: center;
}
main section#guideMap div#guideMap-box div#guide-box div#guide table tr td p#guide-title{
    font-size: 2.5rem;
    font-weight: bold;
}
main section#guideMap div#guideMap-box div#guide-box div#guide table tr td p#guide-stitle{}

main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex{
    display: flex;
    margin: 30px 0;
}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#guide-img{
    width: 50%;
    height: 400px;
    background: url("../images/rono.jpg");
    background-size: cover;
    background-position: center;
}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box{
    padding: 20px;
    width: 50%;
}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#ex{
    height: 70%;
    font-size: 1.8rem;
    text-decoration: underline #dbf497 solid;
}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#address-box{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#address-box span#address{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#open-box{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#open-box span#open{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#holiday-box{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#holiday-box span#holiday{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p#tel-box span#tel{}
main section#guideMap div#guideMap-box div#guide-box div#guide div#guide-ex div#ex-box p{
    margin: 10px 0;
}






main section#about{
    padding: 10px 0;
    background: url(../images/about-back.png);
    background-size: cover;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
main section#about div#about-box{
    background: url(../images/about-back2.png);
    background-size: cover;
    background-position: 0 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

main section#about div#about-box h2{
    padding: 60px 0;
    color: #F22879;
    text-shadow:1px 1px 0 #FFD7E7, -1px -1px 0 #FFD7E7,
                -1px 1px 0 #FFD7E7, 1px -1px 0 #FFD7E7,
                0px 1px 0 #FFD7E7,  0 -1px 0 #FFD7E7,
                -1px 0 0 #FFD7E7, 1px 0 0 #FFD7E7;
    font-size: 2.5rem;
    line-height: 50px;
    letter-spacing: 10px;
}


/* 流れるテキスト ********************************/

main section#about div#about-box p{
    padding: 0 0 60px 0;
    font-size: 1.3rem;
    line-height: 40px;
    letter-spacing: 2px;
}

.slide-in {
	overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}

/* 上下のアニメーション*/
.upAnime{
    opacity: 0;/* 事前に透過0 にして消しておく*/
}

.slideAnimeDownUp {
    animation-name:slideTextY100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY100 {
    from {
        transform: translateY(100%);/* 要素を上の枠外に移動*/
        opacity: 0;
    }
    to {
        transform: translateY(0);/* 要素を元の位置に移動*/
        opacity: 1;
    }
}
.slideAnimeUpDown {
    animation-name:slideTextY-100;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextY-100 {
    from {
    transform: translateY(-100%);/* 要素を下の枠外に移動*/
    opacity: 0;
    }
    to {
    transform: translateY(0);/* 要素を元の位置に移動*/
    opacity: 1;
    }
}



main section#near{
    background-color: #9A85BE;
    text-align: center;
    border-bottom: 3px solid #fff;
}
main section#near h2{
    font-size: 2.5rem;
    padding: 60px 0;
    color: #fff;
}
main section#near p#near-ex{
    color: #fff;
}

div#near-map-box{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 60px 0;
}


#near-map{
    height:400px;
    width: 60%;
}

div#search-list{
    margin: auto;
    color: #fff;
}
div#search-list p.near-btn{
    margin: 12px 0;
    padding: 5px 10px;
    background-color: #FFD7E7;
    color: #333;
    border-radius: 20px;
    transition: 0.2s;
}
div#search-list p.near-btn:hover{
    background-color: #FFB4D2;
    cursor: pointer;
}






footer{
    height: 300px;
    background-color: #1EA965;
    color: #fff;
    text-align: center;
    line-height: 300px;
}